@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #121214;
  color: white;
}

#__next {
  height: 100%;
}

/* Roblox-style scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #191919;
}
::-webkit-scrollbar-thumb {
  background: #3B3D3F;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4a4c4e;
}
